.homerow {
  display: block;
  box-sizing: border-box;
  margin-bottom: 0 !important;
  padding: 10px 20px;
  background: #fff;
}

.homerow__title {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 25px;
  margin: 10px 0 0;
  box-sizing: border-box;
  display: block;
}

.homerow__title span {
  color: #444 !important;
  box-sizing: border-box;
}

.homerow__titleLink {
  display: block;
  width: auto;
  float: left;
  text-align: right;
  font-size: 14px;

  padding-left: 15px;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homerow__view {
  width: 100%;
  margin: 0 0 5px;
  position: relative;

  margin-bottom: 0 !important;
  box-sizing: border-box;

  font-size: 13px !important;
  line-height: 19px !important;
}

.homerow__innerView {
  width: 100%;
  min-height: 220px;

  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0;

  scroll-behavior: smooth;
}

.homerow__list {
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0 0 14px;
  padding: 0;

  box-sizing: border-box;
  white-space: nowrap;
}
.homerow__list {
  left: 0px;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
}
.homerow__list::-webkit-scrollbar {
  display: none; /* hide scroll bar*/
}

.homerow__rowCard {
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 0;

  text-align: center;
  vertical-align: top;
  min-height: 200px;
  min-width: 145px;
  max-width: 270px;
  max-height: 200px;
  overflow: hidden;

  position: relative;
}

.homerow__rowCard::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}

.homerow__item {
  text-align: center;
  position: relative;
  display: inline-block;
  min-width: 145px;
  color: #111;
  list-style: none;

  box-sizing: border-box;
}

.homerow__item img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  text-align: center;

  box-sizing: border-box;
}

.spinner {
  display: none;
  background-color: #fff;
  position: absolute;
  line-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 50px;

  box-sizing: border-box;
}

.gw-spinner {
  box-sizing: border-box;

  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-loading_spinner-1af74fe…._V2_.gif)
    50% 50% no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  font-style: italic;
}

.homerow__scrollLeft {
  position: absolute;
  top: 55px;
  background-color: #fff;
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;

  left: 0;
  border-radius: 0 3px 3px 0;
  clip: rect(-10px, 55px, 110px, 0);
  padding-right: 5px;
  opacity: 0.9;
  cursor: pointer;
  box-sizing: border-box;
}
.homerow__scrollLeft img {
  vertical-align: top;
  position: absolute;
  top: 50%;
  height: 22px;
  width: 13px;
  margin-top: -11px;
  object-fit: contain;
  cursor: pointer;
}

.homerow__scrollRight {
  position: absolute;
  top: 55px;
  background-color: #fff;
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;

  right: 0;
  border-radius: 3px 0 0 3px;
  clip: rect(-10px, 45px, 110px, -10px);
  padding-left: 5px;
  opacity: 0.9;
  cursor: pointer;
  box-sizing: border-box;
}

.homerow__scrollRight img {
  vertical-align: top;
  position: absolute;
  top: 50%;
  height: 22px;
  width: 13px;
  margin-top: -11px;
  object-fit: contain;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.homerow__scrollbar {
  display: block;
  position: absolute;
  height: 6px;
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-size: 0;
}

.homerow__scrollbar span {
  display: block;
  background-color: #eee;
  height: 1px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  top: 2px;
  margin: 0;

  height: 0;
}
